@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
body:lang(ja){font-family: 'Noto Sans Japanese',sans-serif;font-size:2em;background:#87CEEB; color:#FFFFFF}
body:lang(en){font-family: 'Oswald',sans-serif;font-size:2em;background:#87CEEB; color:#FFFFFF}
header{padding:20px 0}
header h1{color:#F3F46D;font-weight:700}
header nav{display:flex;justify-content:flex-end}
a{color:#FFFFFF}
p{font-weight:50;font-size:1em}
header p{padding:0 20px;margin:0;font-weight:300}
.headline h1{font-family:'Oswald',sans-serif;font-weight:700;font-size:0em;color:#F3F46D;-webkit-animation:fadeout 5s linear 5s;-moz-animation:fadeout 5s linear 5s;-ms-animation:fadeout 5s linear 5s;-o-animation:fadeout 5s linear 5s;animation:fadeout 5s linear 5s}
@keyframes "fadeout"{0%{opacity:1;font-size:5em;}99%{font-size:5em;}100%{opacity:0;}}
@-moz-keyframes "fadeout"{0%{opacity:1;font-size:5em;}99%{font-size:5em;}100%{opacity:0;}}
@-webkit-keyframes "fadeout"{0%{opacity:1;font-size:5em;}99%{font-size:5em;}100%{opacity:0;}}
@-ms-keyframes fadeout{0% { opacity:1;font-size:5em}99%{font-size:5em}100%{opacity:0}}
@-o-keyframes fadeout{0% { opacity:1;font-size:5em}99%{font-size:5em}100%{opacity:0}}
.description div{font-family:'Oswald',sans-serif;font-weight:300}
section#about div h2{font-weight:700;font-size:3em;color:#F3F46D}
section#features h2{font-weight:700;font-size:3em;color:#F3F46D}
section#location h2{font-weight:700;font-size:3em;color:#F3F46D}
section#contact h2{font-weight:700;font-size:3em;color:#F3F46D}
section#contact div div h3{font-weight:700;font-size:2em;color:#F3F46D}
section#contact div div h4{font-weight:300;font-size:1.25em}
.img-responsive{display:block;width:40%;margin:0 auto}
button{margin:10px 10px 10px 10px}
